* {
    margin: 0;
    padding: 0;
}

.contenido {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.header {
    display: flex;
    padding-left: 80%;
}