* {
    margin: 0;
    padding-left: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: #36c;
}

main {
    width: 100%;
    height: 80vh;
}

main .main-header {
    width: 220px;
    height: 100px;
    margin: 40px auto 5px;
}

main .main-header .main-header-logo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Wikipedia_wordmark.svg/750px-Wikipedia_wordmark.svg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 180px;
    height: 55px;
    margin: 0 auto;
}

main .main-header p {
    text-align: center;
    font-size: 15px;
    font-family: Linux Libertine,Georgia,Times,serif;
}

main .main-menus {
    width: 546px;
    height: 325px;
    margin: 0 auto;
    background-image: url('https://www.pngkey.com/png/full/68-689738_wikipedia-logo-wikipedia-logo-transparent-background.png');
    background-size: 35% auto;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .main-menus div a {
    width: 156px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main-menus a .main-menus-title {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #36c;
}

main .main-menus a .main-menus-description {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #54595d;
}

main .main-menus a.menu3 {
    margin-right: 100px;
}

main .main-menus a.menu4 {
    margin-left: 100px;
}
main .main-menus a.menu5 {
    margin-right: 120px;
}

main .main-menus a.menu6 {
    margin-left: 120px;
}
main .main-menus a.menu7 {
    margin-right: 100px;
}

main .main-menus a.menu8 {
    margin-left: 100px;
}

main .main-menus div a:hover {
    background-color: #eaecf0;
}

main .main-menus div a:hover > .main-menus-title {
    text-decoration: underline;
}

main .main-search-bar {
    width: 100%;
}

main .main-search-bar #input {
    width: 460px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dcdfe2;
    height: 45px;
    margin-top: 10px;
}

main .main-search-bar #input input:focus {
    border: 2px solid #36c;
}

main .main-search-bar #input input {
    width: 330px;
    height: 95%;
    border: none;
}

main .main-search-bar #input input:focus {
    outline: none;
}

main .main-search-bar #input button {
    width: 60px;
    height: 100%;
    background-color: transparent;
    border: none;
}

main .main-search-bar #input button:hover {
    cursor: pointer;
}

main .main-search-bar #input button img {
    padding-bottom: 4px;
}

main .main-search-bar #search-logo {
    width: 60px;
    height: 100%;
    background-image: url('https://www.jing.fm/clipimg/full/165-1658581_search-icon-transparent-white-searching-icon-white-png.png');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #36c;
}

main .main-search-bar #search-logo:hover {
    cursor: pointer;
}

main .main-search-bar #language {
    width: 460px;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
}

main .main-search-bar #language button {
    width: 300px;
    padding: 6.5px 0;
    background-color: #f8f9fa;
    color: #36c;
    border: 1px solid rgb(162, 169, 177);
    border-radius: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .main-search-bar #language .div-split {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main-search-bar #language hr {
    width: 60px;
}

main .main-search-bar #language button span {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
}

main .main-search-bar #hr-bottom {
    margin: 30px auto 0;
    width: 97vw;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

footer p {
    font-size: 13px;
}

footer .footer-div-one {
    width: 470px;
    display: flex;
    margin-left: 90px;
    margin-right: -30px;
    line-height: 1.5;
}

footer .footer-div-one div {
    width: 275px;
    margin-left: 10px;
}

footer .footer-div-two {
    width: 285px;
    margin-top: 10px;
    display: flex;
    line-height: 1.5;
}

footer .footer-div-two div {
    margin-left: 10px;
}

footer div img {
    width: 40px;
}